@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
	background-color: #F7F7F7;
	letter-spacing: 1px;
	font-family: 'Poppins', sans-serif;
}

.container {
	padding: 2rem;

}

.flex-column {
	display: flex;
	flex-direction: column;
}


.home-container {
	max-width: 80%;
	position: relative;
	margin: 2rem auto;
	background: #fff;
	box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
	border-radius: 10px;
}

/* Form */

.form {
	display: flex;
	width: 100%;
	gap: 2rem;
	padding-bottom: 1rem;
}

.input-field {
	border: 1px solid #c2bebe;
	border-radius: 0.3rem;
	padding: 0.5rem;
	color: #E2E2E2;
	transition: 0.3s;
	color: #625e5e;
	font-size: 1.1rem;
}

.input:focus {
	outline: none;
}

.input-group {
	width: 45%;
}

/* Loader */

.loader-container {
	width: 100%;
	position: absolute;
	top: 45%;
	left: 50%;
}

.loader {
	width: 50px;
	padding: 8px;
	aspect-ratio: 1;
	border-radius: 50%;
	background: #7CB9E8;
	--_m:
		conic-gradient(#0000 10%, #000),
		linear-gradient(#000 0 0) content-box;
	-webkit-mask: var(--_m);
	mask: var(--_m);
	-webkit-mask-composite: source-out;
	mask-composite: subtract;
	animation: spinner 1s infinite linear;
}

@keyframes spinner {
	to {
		transform: rotate(1turn)
	}
}

.starter-text {
	width: 100%;
	text-align: center;
	margin: 2rem;
	color: #4ba2e5;
	font-size: large;
}

/* Media Queries */

@media only screen and (min-device-width: 350px) {
	.form {
		flex-direction: column;
	}

	.input-group {
		width: 80%
	}

	.starter-text {
		font-size: 1rem;
		text-align: center;
		width: 80%;
	}

	.loader-container {
		top: 60%;
		left: 40%
	}

	.loader {
		width: 40px;
	}
	
}